<div id="<%= dom_id email_history %>" class="bg-white rounded-lg p-4">
  <div class="mb-4">
    <strong class="block text-xs font-medium text-gray-400 mb-1">Receiver</strong>
    <p class="text-gray-800 text-sm whitespace-pre-wrap bg-stone-50 p-2 rounded-md"><%= email_history.receiver %></p>
  </div>

  <div class="mb-4">
    <strong class="block text-xs font-medium text-gray-400 mb-1">Subject</strong>
    <p class="text-gray-800 text-sm whitespace-pre-wrap bg-stone-50 p-2 rounded-md"><%= email_history.subject %></p>
  </div>

  <div class="mb-4">
    <strong class="block text-xs font-medium text-gray-400 mb-1">Body</strong>
    <p class="text-gray-800 text-sm whitespace-pre-wrap bg-stone-50 p-2 rounded-md"><%= email_history.body %></p>
  </div>
</div>
