<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing email history</h1>

  <%= render "form", email_history: @email_history %>

  <%= link_to "Show this email history", @email_history, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to email histories", email_histories_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
