<div id="<%= dom_id subscriber %>" class="bg-white rounded-lg p-4">
  <div class="mb-6">
    <p class="text-gray-800 text-xl font-bold"><%= subscriber.name %></p>
    <p class="text-gray-600"><%= subscriber.email %></p>
  </div>
</div>